<div class="d-flex align-items-center justify-content-center">
  <% if @user %>
  <%= render partial: "shared/flash"%>
  <%= @user.email %> Is Logged In <%= @user.id %>
  <%= link_to "Logout", logout_path, method: :delete, class:"btn btn-danger" %>
<% end %>
</div>