<div class=".container">
  <div class=".mx-auto">
  <a class="btn btn-outline-light" href="#"  role="button" aria-disabled="true">-------------------------------------------------------------</a>
  <a class="btn btn-primary" href="/sign_up" role="button">Sign Up</a>
  <a class="btn btn-outline-success" href="/sign_in" role="button">Sign_in</a>
  <a class="btn btn-outline-info" href="/jobs" role="button">Discover Jobs</a>
<hr>
  <%= render partial: "shared/jobs"%>
  </div>
</div>