<h1> Forget Your Password?</h1>
<%= form_with url: password_reset_path do |form| %>
 <div class="mb-3">
<%= form.label :Email %>
<%= form.text_field :email, class: "form-control", placeholder: "ashqur@google.com" %>
  </div>
  <%= form.submit "Reset", class:"btn btn-primary" %>
<% end %>